a {
 text-decoration: none;
  color:brown;
 }

section {
    text-align: center;
}

img {
max-width: 100%;
margin-bottom: 1.5em;
}

p{
    text-align: justify;
}
 body {
   font-family: 'Open Sans', sans-serif;
 }


 #wrapper {
   max-width: 940px;
   margin: 0 auto;
   padding: 0 5%;
 }

h1{
    text-align: center;
}
